extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Ryan Downs

        p.lead.text-light
          | Designer/Developer Bastard Child

        .portfolio-bio
          p
            | Hi there! I'm Ryan, a visual designer, illustrator, and developer living in sunny Austin, Texas. I am currently a Senior Visual Designer at IBM and also a fair amount of front-end development.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Pug
          li HTML
          li CSS
          li JavaScript
          li JSON
          li Node
          li npm
          li jQuery
          li ES6
        h6 Contact Info

        ul
          li 512-594-7209
          li redowns2@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/redowns/') LinkedIn
        a.button.expanded(href='https://github.com/rdowns2387') GitHub
        a.button.expanded(href='https://www.instagram.com/ryandownsillustration/') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
