extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Add a title or heading like My Portfolio, or Hey, Potential Employers, or Let's make the web great together! 
      h1= error.message
      h2= error.status
      p= error.stack
